<div>
  <h1>1. Generate Set</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="header-group">
        Balance Factor: <input type="text" ng-model="balanceFactor" class="balance-factor"/>
        <a target="_blank" href="http://dominionsetgenerator.com/docs/symbols/DominionSetGenerator.html#setBalanceFactor">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
      <div class="btn-group header-group" ng-model="cardSets" data-toggle="buttons" bs-checkbox-group>
        <label class="btn btn-default"><input type="checkbox" value="Base" checked> Base</label>
        <label class="btn btn-default"><input type="checkbox" value="Intrigue"> Intrigue</label>
        <label class="btn btn-default"><input type="checkbox" value="Seaside"> Seaside</label>
        <label class="btn btn-default"><input type="checkbox" value="Alchemy"> Alchemy</label>
        <label class="btn btn-default"><input type="checkbox" value="Prosperity"> Prosperity</label>
        <label class="btn btn-default"><input type="checkbox" value="Cornucopia"> Cornucopia</label>
        <label class="btn btn-default"><input type="checkbox" value="Hinterlands"> Hinterlands</label>
        <label class="btn btn-default"><input type="checkbox" value="DarkAges"> Dark Ages</label>
        <label class="btn btn-default"><input type="checkbox" value="Guilds"> Guilds</label>
        <label class="btn btn-default"><input type="checkbox" value="Promo"> Promo</label>
      </div>
      <div>
        <button type="button" class="btn btn-success" ng-click="generateCards()">
          <span class="glyphicon glyphicon-random"></span> {{ generateCardsBtnTxt }}
        </button>
      </div>
    </div>
    <div ng-show="cards">
      <div class="panel-body">
        <ul class="list-group">
          <li ng-repeat="card in cards" class="list-group-item {{card.setName}} card">
            <span>{{card.cardName}} - {{card.setName}} - {{card.cost}}</span>
            <button class="btn btn-default btn-swap" ng-hide="card.swapMe" type="button" ng-click="card.swapMe = !card.swapMe">Swap...</button>
            <select class="sel-swap" ng-show="card.swapMe" ng-model="$parent.newCard" ng-change="doSwap($index)" ng-options="card as card.cardName group by card.selectGroup for card in swapCards"></select>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <h1>2. Add Players</h1>

  <div class="row">
    <div class="col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Available Players</h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed table-striped">
            <tr ng-repeat="user in availableUsers track by $index" ng-class="user.isSelected ? 'available-player-selected' : ''">
              <td>
                <user-name user="user"></user-name>
              </td>
              <td>
                <button type="button" class="btn btn-success" ng-click="addUser(user._id)" ng-disabled="user.isSelected">
                  <span class="glyphicon glyphicon-plus"></span> Add
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <div class="col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Players In Game</h3>
        </div>
        <div class="panel-body">

          <div ng-if="playersInGame.length === 0">
            None, yet.
          </div>
          <div ng-if="playersInGame.length > 0">
            <table class="table table-condensed table-striped">
              <tr ng-repeat="user in playersInGame track by $index">
                <td>
                  <user-name user="user"></user-name>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" ng-click="removePlayer(user._id)">
                    <span class="glyphicon glyphicon-minus"></span> Remove
                  </button>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>

  <h1>
    3. <button type="button" class="btn btn-success" ng-click="startGame()">Start Game!</button>
  </h1>

</div>