<div>
  <h1>
    Leader Board
  </h1>

  <div class="timeView">
    <input type="radio" ng-model="timeView" id="thisWeek" value="thisWeek"><label for="thisWeek">{{'thisWeek' | i18n}}</label>
    <input type="radio" ng-model="timeView" id="thisMonth" value="thisMonth"><label for="thisMonth">{{'thisMonth' | i18n}}</label>
    <input type="radio" ng-model="timeView" id="sixMonths" value="sixMonths"><label for="sixMonths">{{'sixMonths' | i18n}}</label>
    <input type="radio" ng-model="timeView" id="allTime" value="allTime"><label for="allTime">{{'allTime' | i18n}}</label>
  </div>

  <table class="table table-striped table-hover">
    <tr>
      <th></th>
      <th ng-click="toggleSort('winPercentage')" class="clickable">{{'winPercentage' | i18n}}</th>
      <th ng-click="toggleSort('wins')" class="clickable">{{'wins' | i18n}}</th>
      <th ng-click="toggleSort('second')" class="clickable">{{'second' | i18n}}</th>
      <th ng-click="toggleSort('third')" class="clickable">{{'third' | i18n}}</th>
      <th ng-click="toggleSort('losses')" class="clickable">{{'losses' | i18n}}</th>
      <th ng-click="toggleSort('ties')" class="clickable">{{'ties' | i18n}}</th>
      <th ng-click="toggleSort('total')" class="clickable">{{'total' | i18n}}</th>
    </tr>
    <tr ng-repeat="user in users | orderBy:predicate():reverse" class="repeated-item">
      <td>
        <a href="/userDetails/{{user._id}}">
          <user-name user="user"></user-name>
        </a>
      </td>
      <td>{{user.results[timeView].winPercentage | percentage }}</td>
      <td>{{user.results[timeView].wins}}</td>
      <td>{{user.results[timeView].second}}</td>
      <td>{{user.results[timeView].third}}</td>
      <td>{{user.results[timeView].losses}}</td>
      <td>{{user.results[timeView].ties}}</td>
      <td>{{user.results[timeView].total}}</td>
    </tr>
  </table>
</div>
