<div>
  <h1>
    <user-name user="user.info" full="true"></user-name>
  </h1>
  <ul class="list-group" style="max-width: 250px;">
    <li class="list-group-item" ng-repeat="(key, value) in user.results">
      <div ng-switch on="key">
        <div ng-switch-when="winPercentage">
          <span class="badge pull-right">{{value | percentage}}</span>
        </div>
        <div ng-switch-default>
          <span class="badge pull-right">{{value}}</span>
        </div>
      </div>
      {{key}}
    </li>
  </ul>
</div>