<div>
  <h1>
    Users
    <button type="button" class="btn btn-success pull-right" data-title="New User" data-template="/public/partials/editUser.html" bs-modal="modal">
      <span class="glyphicon glyphicon-plus"></span> New
    </button>
  </h1>
  <table class="table table-striped">
    <tr ng-repeat="user in users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td class="button-column">
          <div class="btn-group">
              <button type="button" class="btn btn-warning" ng-click="editUser(user._id)">Edit</button>
              <button type="button" class="btn btn-danger" ng-click="deleteUserConfirm(user._id)">Delete</button>
          </div>
      </td>
    </tr>
  </table>
</div>


